<%= link_to "Upload Another", root_path %>

<br />
<br />

<%= form_with(url: pdf_exports_path(@pdf), data: {turbo: false}) do |form| %>
  <!-- Select input to preload other common defaults? -->

  <div data-controller="ignoreFirst">
    <label for="ignoreFirst" class="form-label">Ignore first <span data-ignoreFirst-target="label">0</span> pages</label>
    <input type="range" class="form-range" id="ignoreFirst" name="ignoreFirst" data-ignoreFirst-target="range" data-action="ignoreFirst#update" min="0" max="<%= @pdf.source_pages.count - 1 %>" value="0" />
  </div>

  <hr/>
  <div>
    <h3>Rows</h3>
    <%= labelled_range "cardsX", "Cards across", 1..10, 3 %>
    <%= labelled_range "marginX", "Left gap", 0..500, 226 %>
    <%= labelled_range "cardX", "Card width", 0..600, 375 %>
    <%= labelled_range "paddingX", "Horizontal gap", 0..64, 36 %>
  </div>

  <hr/>
  <div>
    <h3>Columns</h3>
    <%= labelled_range "cardsY", "Cards down", 1..10, 2 %>
    <%= labelled_range "marginY", "Top gap", 0..500, 95 %>
    <%= labelled_range "cardY", "Card height", 0..600, 525 %>
    <%= labelled_range "paddingY", "Vertical gap", 0..64, 36 %>
  </div>

  <div>
    <hr/>
    <h3>Convert & Download</h3>
    <div class="mb-1"><input type="submit" class="btn btn-primary" name="commit" value="Individual Cards (.zip)" /></div>
    <div class="mb-1"><input type="submit" class="btn btn-primary" name="commit" value="70% Repaged 9up (.pdf)" /></div>
    <div class="mb-1"><input type="submit" class="btn btn-primary" name="commit" value="Tabletop Simulator (Fronts)" /></div>
    <div class="mb-1"><input type="submit" class="btn btn-primary" name="commit" value="Tabletop Simulator (Backs)" /></div>
    <div class="mb-1"><input type="submit" class="btn btn-primary" name="commit" value="PlayingCards.io (.pcio)" /></div>
  </div>

<% end %>
