<p style="color: green"><%= notice %></p>

<%= render @pdf %>

<div>
  <%= link_to "Edit this pdf", edit_pdf_path(@pdf) %> |
  <%= link_to "Back to pdfs", pdfs_path %>

  <%= button_to "Destroy this pdf", @pdf, method: :delete %>
</div>
